* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    overflow: hidden;
    background: url(../img/bg4.png) no-repeat center/cover;
    font-family: "Bebas Neue", sans-serif;
    ;
}

.section {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2.5rem;
    border: 2px solid wheat;
    border-radius: 15px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    /* Hủy translate, dùng padding top/bottom thay vì kéo */
    transform: none;
    margin-top: 14rem;
}

.btn-row {
    display: flex;
    gap: 1rem;
}

.btn-center {
    margin-top: 0.5rem;
}

.button {
    background-color: #c3c3c3;
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    font-size: 18px;
    border-radius: 15px;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
    transition: transform 0.10s ease, box-shadow 0.15s ease;
    color: #000000
}

.button:active {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.time {
    width: 17rem;
}

.modal-tks {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    top: -17rem;
    height: 30rem;
    animation: slidedown 1.5s ease-out;
}

.img-message {
    width: 100%;
    height: 40rem;
    border-radius: 15px;
    object-fit: cover;
}

@media only screen and (max-width: 739px) {
    .img-message {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
    }

}

@keyframes slidedown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}